In [1]:
import sys
!{sys.executable} -m pip install xgboost

Requirement already satisfied: xgboost in c:\users\amit\anaconda3\lib\site-packages (0.90)
Requirement already satisfied: scipy in c:\users\amit\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\users\amit\anaconda3\lib\site-packages (from xgboost) (1.16.4)

In [2]:
import os
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import  metrics, model_selection
from xgboost.sklearn import XGBClassifier

In [4]:
data = pd.read_csv('car.data',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
buying      1728 non-null object
maint       1728 non-null object
doors       1728 non-null object
persons     1728 non-null object
lug_boot    1728 non-null object
safety      1728 non-null object
class       1728 non-null object
dtypes: object(7)
memory usage: 94.6+ KB

In [6]:
data['class'],class_names = pd.factorize(data['class'])